<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel= "stylesheet" href = "/css/normalize.css"> <!--las librerias van antes que la hoja de estilo-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--las librerias van antes que la hoja de estilo-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--las librerias van antes que la hoja de estilo-->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> <!--esto lo traigo desde Font.google-->
    <link rel= "stylesheet" href = "/css/style.css">
    
   
</head>
<body> 
    <header>
      <img src="/images/logo-mercado-liebre.svg" alt="">
      <h1>Lugar para poner la barra de busqueda</h1>

      <h2>Compra en cuotas y sin tarjeta de credito</h2>

         <nav>
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </nav>
        
        <nav>
           <ul>
            <li><a href="#">Crae tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#"> Mas Ofertas</a></li> 
           </ul>
        </nav>

    </header>

    <main>
     <section>
     <ul><li>Basado en tu ultima visita</li></ul>
     <img src="/images/img-cafetera-moulinex.jpg" alt="">
     <p>$6670</p>
     <p>40% off</p>
     <p>Cafetera Moulinex</p>

     <img src="/images/img-macbook-pro-2019.jpg" alt="">
     <p>$230.000</p>
     <p>20% off</p>
     <p>Macbook Pro 2019</p>

     <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
     <p>$70500</p>
     <p>10% off</p>
     <p>Samsung Galaxy S10</p>

     <img src="/images/img-tv-samsung-smart.jpg" alt="">
     <p>$23200</p>
     <p>5%off</p>
     <p>SmartTv Samsung 43"</p>

    </section>

    <section>
        <ul><li>Seccion de Ofertas</li></ul>
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <p>$6670</p>
        <p>40% off</p>
        <p>Cafetera Moulinex</p>
   
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
        <p>$230.000</p>
        <p>20% off</p>
        <p>Macbook Pro 2019</p>
   
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        <p>$70500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p>
   
        <img src="/images/img-tv-samsung-smart.jpg" alt="">
        <p>$23200</p>
        <p>5%off</p>
        <p>SmartTv Samsung 43"</p>
   
       </section>
    </main>

    <footer>
     <div class="footer">
        <ul><li>Pagá con tarjeta o en efectivo</li></ul>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
        <ul><li>Envío gratis desde $ 2.500</li></ul>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <ul><li>Seguridad de principio a fin</li></ul>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


     </div>
    </footer>
</body>
</html>