*{
    box-sizing: border-box;  /* es para que al agregar propiedades como el paddin,border no me aumento el tamaño de la pagina*/
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
/* cabezera y logo*/
.main-header{
    background-color: #EAC926; 
    padding: 20px;
}
.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    width: 50%;
}
.barra{
    display: flex;
    width: 100%;
}
.search-bar-bar{
    min-width: 150px;
}
.copy-header{
    font-weight: 400; 
    text-align: center;
}
/* hamburger*/
.hamburger-button{ 
    background-color: #03264C;
    color: #FFFF;
    display: block; 
    max-width: 50px; 
    padding: 15px 0;
    border-radius: 8px;
    text-align: center; 
    font-size: 18px;
    margin: auto;
}

/* barra de navegacion*/
.main-navbar{
    margin-bottom:0 ;
    display: none; /* oculto la barra de navegacion para la version mobil*/
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

.banner{
    width: 100vw;/* aca solo tomo el ancho que le das al banner y no depende del padre, que seria si le pongo 100%*/
    max-width: 100%;
}
/* articulos*/
.article-border{
     margin: 10px;
     padding: 15px;
}
.article-margin{
    display: flex;
    border-top: 1px solid #ebebeb;
    position: relative; /* si no le pongo este position relative, el position absolute se me sale del conntenedor*/
}

main img{
    width: 90%; /* toma el 90% del elemento padre(el main)*/
    display: block;
    margin:10px
}

main section div i{
 font-size: 16px;
 padding: 5px;
 width: 30px;
 height: 30px;
 background-color: #FFF;
 border-radius: 50%;
 color: green;
 position: absolute; /* para que funcione este position absolute tengo que darle position relativa al padre*/
 right: 20px;
 top: -15px;
 
}
h3{
    font-size: 15px;
}
.precio{
    flex-grow: 3;/* se aplica sobre cada item, es como que le estoy dando el 30% de participacion*/
    font-size: 18px;
}
.descuento{
    flex-grow: 7;/* se aplica sobre cada item, es como que le estoy dando el 70% de participacion*/
    font-size: 16px;
}
.descripcion{
    font-size: 16px;
}
/*FORMULARIO*/
.create-form{
    padding: 20px 15px;
    background-color:#DCDCDC;
    text-align: center;
}
.control-formulario{
    margin-bottom: 15px; /* me sapara los elementos de cada div hacia abajo*/
  
}
.control-formulario label {
    margin-bottom: 10px; 
    font-style: italic;
    display: block; /* Me los acomoda uno abajo del otro porque cada elemento toma todo el espacio disponible a lo ancho*/
}
.control{
    width: 50%; /* a todos los input y select les doy todo el ancho*/
    padding: 15px 10px;
    border-radius: 5px;
    text-align: center;
}
.botton-form{ /* dandole estilo al boton*/
    background-color:blueviolet;
    border: none;
    padding: 5px 10px;
    font-style: oblique;
    color: #FFFF;
    border-radius: 5px;
}
.botton-form-login:hover{
background-color: #0022AA;
}
.botton-form-login {
    background-color:blueviolet;
    border: none;
    padding: 5px 10px;
    font-style: oblique;
    color: #FFFF;
    border-radius: 5px;
    width: 50%;
}
/* pie de pagina*/
.footer-conteint{
    background-color:#EAC926;
}

.footer{
    text-align: center;
    font-size: 10px;
}
.footer-h3{
    margin: 0px;
   
}
.footer credit {
    text-align: center;
}
.visa{
    margin-top:5px ;
    font-size: 15px;
    margin-bottom: 8px;
    color: blue;
}
.compra{
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    color: blue;
}
.seguridad{
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    color: blue;
}
.copy-right{
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
}


/* Medias Queries*/
@media(min-width:361px)  {
    .article-border{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);/* aca le estoy dando un sombreado al article*/
    }



}

@media(min-width:768px){
    .conteint{
        display: flex;
        justify-content: space-between;
    }
    .barra{
        text-align: center;
    }
    .hamburger-button{
        display: none;
    }
    .search-bar-bar{
        font-size: 10px;
        border-radius: 10px;
    }
    .main-header-top-bar{
        margin: 0 0 0 15px;
    }
  .main-navbar{
      display: flex;
      justify-content: space-between;/* aca me separa las listas pero me queda una bien a la izquierda y la otra a la derecha pero de arriba*/
      margin-top: 20PX;
  }
  .main-navbar ul {
      display: flex; /* aca me pone las lista una al lado de la otra*/
  }
  .main-navbar li {
      margin: 0 5px;
  }
  .main-navbar ul li a { /* agrando el tamano de la letra de la barra de navegacion*/
      font-size: 15px;
  }
  .section-mini{
      display: flex;
      background-color:gainsboro;
  }
  .precio {
      width: 100%;
  }
  .descuento{
      width: 100%;
  }
  .logo{
      font-size: 200px;
  }
 .descripcion{
     transform:translateY(-40px);
     z-index: -1;
     opacity: 0;
 }

.article-border:hover .descripcion{
    transform:translateY(10px) ;
    z-index: 1;
    opacity: 1;
    
}
.article-border{
    box-shadow: 0px 0px 0px rgb(100, 100, 100);/* el efecto de sombra esta oculto*/
    transition: box-shadow 0.5s /* es para que el cambio de la fila 266 no se de forma abrusca*/
}
.article-border:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);/* el efecto de sobra se activa cuando paso el mouse al article*/
}
main section div i{
    transform: rotate(0deg);/* situacion original*/
}
main section div i:hover{ /* aca lo roto en -90 grados*/
transform: rotate(-90deg);
}
main section div i{/* la rotacion se da de forma pausada*/
    transition: transform 0.5s;
}


    }

@media(min-width:1024px) {
    .section-article{
        display: flex;
    }
    .main-header-top-bar{
        margin: 0 0 0 0;
    }
    .logo{
        font-size: 300px;
    }
    .barra{
        margin-left: 30px;
        font-size: 30px;
    }
    .search-bar-bar{
        min-width: 200px;
    }
    .footer{
        display: flex;
        align-items: center;
        height: 130px;
    }
    .visa{
        font-size: 30px;
        color: blue;
    }
    .visa:hover{
       color:yellowgreen;
    }
    .visa{
        transition: transform 0.5s;
    }
    .compra{
        font-size: 30px;
        transition: transform 5s;
        color: blue;
    }
    .compra:hover{
        color: yellowgreen;
    }
    .seguridad{
        font-size: 30px;
        color: blue;
    }
    .seguridad:hover{
        color: yellowgreen;
    }
    .copy-right{
        text-align: start;
    }
}
